@charset "UTF-8";

:root
{
  --aboutsize: 16px;
  --abouth2: 20px;
  --topabout: 20%;
  --scaleimage: 1;
  --marginleft: 20px;
  --paddingtop: 10%;
  --paddingright: 35%;
  --paddingbottom: 8%;
  --paddingleft: 10%;
  --paddingabout: 10px;
  --marginwacom: -2em;
  --heightsitre: 480px;
  --topsitrep: 0px;
  --fontsizesitrep: 20px;
}
/*Base styling for all HTML pages*/
body
{
    position: relative;
    top: 80px;
    background-image: url(../images/background.jpg);
    background-attachment: fixed;
    background-color: #150738;
    margin: 0px;
    font-family: 'Comfortaa', sans-serif;
}

nav.navbar
{
    min-height: 75px;
    background-color: #361e6c;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    font-size: 30px;
    padding-top: 16px;
}

nav.navbar.shrink
{
    padding-top: 0px;
    min-height: 35px;
    font-size: 16px;
}

button#how {
  background-color: #140438;
  color: #c64500;
  margin-left: 3em;

  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

button#how:hover {
  background-color: #4a3381;
  color: #f66111;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

button.btn
{
  margin-top: 10px;
}

button.btn-lg
{
  margin-top: 0px;
}

/* The Modal (background) */
.modal
{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modalContent
{
    background-color: #140438;
    position: relative;
    margin: 10em auto;
    padding: 0;
    border: 1px solid #361e6c;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s;
    min-height: 350px;
}

/* Add Animation */
@keyframes animatetop
{
    from {top: -300px;opacity: 0;}
    to {top: 0;opacity: 1;}
}

/* The Close Button */
.close
{
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus
{
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Modal Header */
.modalHeader
{
    padding: 2px 16px;
    background-color: #4a3381;
    color: white;
}

/* Modal Body */
.modalBody
{
  padding: 1em 2em 1em 2em;
  color: white;
  font-size: 18px;
}

.modalBody img
{
  margin-top: var(--marginwacom);
  height: 100%;
  position: relative;
  float: right;
  display: block;
  border: 4px solid #2b0d99;
  border-radius: 50%;
  box-shadow: 1px 1px 4px #1b0766;
}

@media (max-width: 1024px)
{
  :root
  {
    --marginwacom: 0em;
    --topsitrep: 30px;
    --heightsitrep: 450px;
    --fontsizesitrep: 16px;
  }
}

a.navbar-brand
{
    font-size: 40px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

a.navbar-brand.shrink
{
    padding-top: 15px;
    font-size: 20px;
}

a:link
{
    color: #c64500;
}

a:hover
{
    color: #910101;
}

a:visited
{
    color: #a30059;
}

div#header
{
    font-size: 18px;
    text-indent: justify;
    margin-left: 20px;
    padding-left: 20px;
    color: white;
    max-width: 55%;
}

div#header h1
{
    line-height: normal;
    margin-bottom: -30px;
    color: white;
}

div#header h2
{
    margin-bottom: 50px;
    color: white
}

div#header p
{
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgba(14, 4, 38, 0.65);
    display: inline-block;
    border-radius: 5px;
    animation-name: headerfadein;
    animation-duration: 2s;
}

div#header p#header
{
  position: relative;
  background: repeating-linear-gradient(
    45deg,
    rgba(255, 255, 0, 0.3) 0px,
    rgba(255, 255, 0, 0.3) 40px,
    rgba(0, 0, 0, 0.3) 40px,
    rgba(0, 0, 0, 0.3) 80px
  );
  animation: menatwork 5s infinite, headerfadein 2s;
}

@keyframes headerfadein
{
    0%
    {
      opacity: 0;
    }
    100%
    {
      opacity: 1;
    }
}

@keyframes menatwork {
    0%
    {
      top: 10px;
    }
    50%
    {
      top: 50px;
    }
    100%
    {
      top: 10px;
    }
}

div#body
{
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 20px;
    color: white;
    font-size: 20px;
    text-indent: 15px;
    text-align: justify;
    width: 60%;
    background-color: rgba(14, 4, 38, 0.65);
    animation: bodyfadein 4s;
}

@keyframes bodyfadein
{
    0%
    {
      opacity: 0;
    }
    25%
    {
      opacity: 0;
    }
    50%
    {
      opacity: 1;
    }
}

div#body h3
{
    padding-top: 15px;
}

@media (max-height: 768px)
{
   :root
   {
     --aboutsize: 12px;
     --abouth2: 16px;
     --topabout: 13%;
     --paddingtop: 10%;
     --paddingright: 35%;
     --paddingbottom: 8%;
     --paddingleft: 10%;
     --scaleimage: 0.85;
     --marginleft: 0px;
     --paddingabout: 30px;
   }
}

div#about
{
    border-radius: 5px;
    max-width: 30%;
    text-align: justify;
    font-size: var(--aboutsize);
    color: whitesmoke;
    position: fixed;
    padding-left: 10px;
    padding-right: var(--paddingabout);
    top: var(--topabout);
    left: 65%;
    background-color: rgba(11, 1, 33, 0.6);
    animation: aboutfadein 5s;
}

@keyframes aboutfadein
{
    0%
    {
      opacity: 0;
    }
    40%
    {
      opacity: 0;
    }
    60%
    {
      opacity: 1;
    }
}

div#about p
{
    text-indent: 15px;
}

div#about h2
{
    padding-left: 10px;
    font-size: var(--abouth2);
}

div#about h1
{
    text-indent: 25px;
    color: white;
}

div#about img
{
    transform: scale(var(--scaleimage));
    margin-left: var(--marginleft);
    margin-right: -30px;
    float: right;
    border: 4px solid white;
    border-radius: 50%;
    box-shadow: 1px 1px 4px dimgrey;
}

figure.bodyimages
{
    float: left;
    margin: 20px;
    position: relative;
    max-height: 60%;
    max-width: 60%;
    border: 4px solid #2b0d99;
    border-radius: 5px;
    box-shadow: 1px 1px 4px #1b0766;
}

figure.bodyimages img
{
    width: 100%;
    height: 100%;
    margin-left: -15px;
}

figure.bodyimages figcaption
{
    opacity: 0;
    position: absolute;
    top: 0px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    text-indent: justify;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    transition: opacity 1s;
}

figure.bodyimages:hover figcaption
{
    opacity: 1;
}

footer
{
    height: 75px;
    padding-top: 5px;
    padding-right: 20px;
    color: dimgrey;
    font-size: 12px;
    text-align: right;
    background-color: rgb(14, 4, 38);
    animation: bodyfadein 4s;
    margin-top: 15px;
}

footer img
{
    margin-right: 15px;
    margin-bottom: -20px;
    transition: 0.2s;
}

footer img:hover
{
  transform: scale(1.2);
}

/*Styling for 404 custom page and contact.php*/
footer.error
{
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 75px;
    animation: bodyfadein 1s;
}

div.sitrep
{
  top: var(--topsitrep);
  height: var(--heightsitrep);
  position: relative;
  width: 80%;
  padding: 8% 35% 8% 10%;
  margin: auto;
  margin-top: 15px;
  border: 5px solid #140438;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  color: white;
  font-size: var(--fontsizesitrep);
  text-indent: 15px;
  animation: bodyfadein 2s;
}

div.sitrep#notfound
{
  background: repeating-linear-gradient(
    135deg,
    rgba(255, 255, 0, 0.3) 0px,
    rgba(255, 255, 0, 0.3) 40px,
    rgba(0, 0, 0, 0.3) 40px,
    rgba(0, 0, 0, 0.3) 80px
  );
}

div.sitrep img
{
  margin-left: 30px;
  position: absolute;
  border: 5px solid #140438;
  border-radius: 50%;
  float: right;
  transform: scale(0.6);
}

/*Styling for contact.php*/
#retornoPHP
{
  position: absolute;
  right: 5%;
  top: 70%;
}

div.sitrep#email
{
  margin: auto;
  margin-top: 15px;
  width: 80%;
  position: relative;
  text-align: justify;
  padding: 1em 2em 1em 2em;
}

label.emailForm
{
  padding-left: 15px;
  display: block;
  line-height: 20px;
  margin-top: 20px;
}

#email img
{
  transform: scale(0.7);
  position: absolute;
  right: 0;
}

#email input
{
  border-radius: 5px;
  border: 2px solid #4a3381;
  margin-left: 30px;
  width: 500px;
  color: black;
}

#email textarea
{
  color: black;
  width: 500px;
  border-radius: 5px;
  border: 2px solid #4a3381;
  margin-left: 30px;
  overflow-y: auto;
  resize: none;
}

#fsubmit
{
  background-color: #140438;
}

#fsubmit:hover
{
  background-color: #4a3381;
}

#email input:focus, #email input:hover, #email textarea:focus, #email textarea:hover
{
  border: 2px solid purple;
  border-radius: 5px;
}
